:root.theme-dark {
 --page-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
 --primary-color: #ff0070;
 --menu-button-hover-color: #FF007066;
 --accent-color: #ff0070;
 --header-title-color: #db00ff;
 --header-text-color: #000028;
 --footer-title-color: #db00ff;
 --title-decor: #000028;
 --main-text-color: #f1b2ce;
 --title-section-color: #ff0070;
}

.theme-dark .decoration__rec {
  display: block;
}

.header__theme-menu-button_active {
  border: 1px solid var(--primary-color);
  padding-right: var(--padding-right);
  pointer-events: none;

}

