/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  
*/
.decoration__rec {
  display: none;
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
   --page-bg-image: url(.."images/cover-image-light.png");
   --main-bg-color: #FFF1F7;
   --header-title-color: #FFC2E6;
   --footer-title-color: #FFC2E6;
   --header-text-color:  #353430;
   --main-text-color: #353430;
   --title-decor: #353430;
   --primary-color: #353430;
   --accent-color: #FF8DCB;
   --menu-button-hover-color: #32312D66;


}