:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  --header-text-color: #353430;
  --main-text-color: #353430;
  --title-decor: #353430;
  --primary-color: #353430;
  --accent-color: #ff8dcb;
  --menu-button-hover-color: #32312d66;
  --title-section-color: #353430;
}

.page {
  background-image: var(--page-bg-image);
}
.theme-light .decoration__rec {
  display: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--primary-color);
  padding-right: var(--padding-right);
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7;
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
    --header-text-color: #353430;
    --main-text-color: #353430;
    --title-decor: #353430;
    --primary-color: #353430;
    --accent-color: #ff8dcb;
    --menu-button-hover-color: #32312d66;
    --title-section-color: #353430;
  }
  .decoration__rec {
    display: none;
  }
}
