/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  gap: var(--page-gap);
}

header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decoration__rec {
  position: absolute;
  inline-size: 52px;
  block-size: 26px;
  color: var(--primary-color);
  font-family: var(--font-family, "sans-serif");
  text-transform: uppercase;
  font-size: 18px;
  line-height: 139%;
  justify-self: end;
  right: 19px;
  top: 10px;
}

.decoration__rec::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--primary-color);
  width: 9px;
  height: 9px;
  right: 1px;
  top: 8px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-inline-end: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  top: 10px;
  right: 10px;
  justify-self: end;
}

.decorated-zone::before {
  border-left: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  display: block;
  align-self: end;
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 18px;
  font-family: var(--font-family, "sans-serif");
  align-self: center;
  justify-self: end;
  text-align: center;
  line-height: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: 1px solid transparent;
  padding: 2px 12px;
  text-transform: lowercase;
  cursor: pointer;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 5px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--primary-color);
  padding-right: var(--padding-right);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--primary-color);
}



.header__title {
  font-family: var(--font-family, "sans-serif");
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: center;
}

.header__discription {
  font-family: var(--font-family, "sans-serif");
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--header-text-color);
  background-color: var(--accent-color);
  min-width: 355px;
  min-height: 117px;
}

.content-section__title {
  color: var(--accent-color);
  background-color: var(--title-decor);
  font-family: var(--font-family, "sans-serif");
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  color: var(--title-decor);
  background-color: var(--accent-color);
  font-family: var(--font-family, "sans-serif");
  font-weight: 700;
  line-height: 130%;
  font-size: var(--main-title-size);
}

.text-block__subtitle {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-block__title {
  font-size: var(--main-title-size);
}

.text-block__content {
  font-family: var(--font-family, "sans-serif");
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 130%;
  color: var(--main-text-color);
  margin-top: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 2px solid currentColor;
}

.content {
  background-color: var(--main-bg-color);
  display: grid;
  gap: var(--content-gap);
  padding: 0 10px;
  position: relative;
}

.content-section {
  display: grid;
  gap: var(--content-section-gap);
}

.text-blocks {
  display: grid;
  gap: var(--text-bloks-gap);
}

.gallery {
  display: grid;
  gap: var(--block-gap);
}

.pictures-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images-block__title {
  font-family: var(--font-family, "sans-serif");
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-decor);
  background-color: var(--accent-color);
}

.footer {
  display: grid;
  position: relative;
  place-items: center;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  background-color: #000028;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--footer-title-size);
  line-height: 83%;
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    gap: var(--page-gap);
  }

  header {
    position: relative;
    height: 100vh;
    min-block-size: 768px;
  }

  .decoration__rec {
    right: 29px;
    top: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    padding-right: 12px;
    padding-top: 12px;
  }

  .header__title {
    justify-self: start;
    transform: translateX(calc(-1 * 10px));
  }

  .header__discription {
    max-width: 364px;
    grid-row: 3;
    justify-self: end;
  }

  .content {
    gap: var(--content-gap);
    padding: 0 20px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_layout_decline {
    grid-template-columns: 1fr;
    gap: var(--text-bloks-gap);
  }

  .line-break {
    max-width: 236px;
  }

  .gallery {
    position: relative;
    gap: var(--block-gap);
    grid-template-columns: 1fr 1fr 1fr;
  }

  .images-block__title {
    grid-column: 1 / -1;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .cassette {
    grid-row: span 2;
  }

  .purple-street {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .page {
    gap: var(--page-gap);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-left: 10px;
    
  }

  .header__theme-menu-button {
    padding-bottom: 3px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: var(--header-title-size);
  }

  .header__discription {
    max-width: 491px;
    min-height: 71px;
    line-height: 23.4px;
    margin-right: 10px;
    margin-bottom: 7px;
  }

  .content {
    gap: var(--content-gap);
  }

  .content-section_layout_decline .text-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--text-bloks-gap);
  }

  .footer__title {
    font-size: var(--footer-title-size);
  }
}

