:root {
  --page-bg-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex mono";
  --primary-color: #ff0070;
  --menu-button-hover-color: #ff007066;
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --header-title-color: #db00ff;
  --header-text-color: #000028;
  --footer-title-color: #db00ff;
  --title-decor: #000028;
  --title-section-color: #ff0070;
  --main-text-color: #f1b2ce;
  --link-hover-color: #f1b2ce;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-text-size: 18px;
  --main-title-size: 18px;
  --page-gap: 40px;
  --content-gap: 50px;
  --content-section-gap: 20px;
  --text-bloks-gap: 20px;
  --block-gap: 10px;
  --padding-left: 10px;
  --padding-right: 10px;
}

@media (min-width: 768px) {
  :root {
    --page-gap: 60px;
    --content-gap: 80px;
    --block-gap: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-title-size: 157px;
    --footer-title-size: 157px;
  }
}
